<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>jumperVersion</key>
	<integer>1</integer>
	<key>jumpers</key>
	<array>
		<dict>
			<key>roleID</key>
			<integer>0</integer>
			<key>jumperPic</key>
			<string>jumper兔子</string>
			<key>defaultName</key>
			<string>???</string>
			<key>nickName</key>
			<string>jumper</string>
			<key>isUnlocked</key>
			<true/>
			<key>unlockType</key>
			<integer>0</integer>
			<key>unlockConsumption</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>roleID</key>
			<integer>1</integer>
			<key>jumperPic</key>
			<string>jumper无脸男</string>
			<key>defaultName</key>
			<string>???</string>
			<key>nickName</key>
			<string>jumper</string>
			<key>isUnlocked</key>
			<false/>
			<key>unlockType</key>
			<integer>2</integer>
			<key>unlockConsumption</key>
			<integer>200</integer>
		</dict>
		<dict>
			<key>roleID</key>
			<integer>6</integer>
			<key>jumperPic</key>
			<string>jumper乔巴</string>
			<key>defaultName</key>
			<string>???</string>
			<key>nickName</key>
			<string>jumper</string>
			<key>isUnlocked</key>
			<false/>
			<key>unlockType</key>
			<integer>4</integer>
			<key>unlockConsumption</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>roleID</key>
			<integer>2</integer>
			<key>jumperPic</key>
			<string>jumper斑</string>
			<key>defaultName</key>
			<string>???</string>
			<key>nickName</key>
			<string>jumper</string>
			<key>isUnlocked</key>
			<false/>
			<key>unlockType</key>
			<integer>0</integer>
			<key>unlockConsumption</key>
			<integer>1000</integer>
		</dict>
		<dict>
			<key>roleID</key>
			<integer>3</integer>
			<key>jumperPic</key>
			<string>jumper龙猫</string>
			<key>defaultName</key>
			<string>???</string>
			<key>nickName</key>
			<string>jumper</string>
			<key>isUnlocked</key>
			<false/>
			<key>unlockType</key>
			<integer>1</integer>
			<key>unlockConsumption</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>roleID</key>
			<integer>4</integer>
			<key>jumperPic</key>
			<string>jumper麦兜</string>
			<key>defaultName</key>
			<string>???</string>
			<key>nickName</key>
			<string>jumper</string>
			<key>isUnlocked</key>
			<false/>
			<key>unlockType</key>
			<integer>3</integer>
			<key>unlockConsumption</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>roleID</key>
			<integer>5</integer>
			<key>jumperPic</key>
			<string>jumper熊猫</string>
			<key>defaultName</key>
			<string>???</string>
			<key>nickName</key>
			<string>jumper</string>
			<key>isUnlocked</key>
			<false/>
			<key>unlockType</key>
			<integer>3</integer>
			<key>unlockConsumption</key>
			<integer>600</integer>
		</dict>
		<dict>
			<key>roleID</key>
			<integer>7</integer>
			<key>jumperPic</key>
			<string>jumper皮卡丘</string>
			<key>defaultName</key>
			<string>???</string>
			<key>nickName</key>
			<string>jumper</string>
			<key>isUnlocked</key>
			<false/>
			<key>unlockType</key>
			<integer>5</integer>
			<key>unlockConsumption</key>
			<integer>5000</integer>
		</dict>
		<dict>
			<key>roleID</key>
			<integer>8</integer>
			<key>jumperPic</key>
			<string>jumper叮当猫</string>
			<key>defaultName</key>
			<string>???</string>
			<key>nickName</key>
			<string>jumper</string>
			<key>isUnlocked</key>
			<false/>
			<key>unlockType</key>
			<integer>7</integer>
			<key>unlockConsumption</key>
			<integer>10000</integer>
		</dict>
	</array>
</dict>
</plist>
