<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>maxScore</key>
		<integer>50</integer>
		<key>minScore</key>
		<integer>0</integer>
		<key>props</key>
		<array>
			<dict>
				<key>propType</key>
				<string>propMonster</string>
				<key>showAfterHoleProb</key>
				<integer>0</integer>
				<key>showAfterPropProb</key>
				<integer>0</integer>
				<key>showBeforeHoleProb</key>
				<integer>0</integer>
				<key>showProb</key>
				<real>0.08</real>
			</dict>
			<dict>
				<key>propType</key>
				<string>propSlip</string>
				<key>showAfterHoleProb</key>
				<integer>0</integer>
				<key>showAfterPropProb</key>
				<integer>0</integer>
				<key>showBeforeHoleProb</key>
				<integer>0</integer>
				<key>showProb</key>
				<real>0.1</real>
			</dict>
			<dict>
				<key>propType</key>
				<string>propCoin</string>
				<key>showAfterHoleProb</key>
				<integer>1</integer>
				<key>showAfterPropProb</key>
				<integer>1</integer>
				<key>showBeforeHoleProb</key>
				<integer>1</integer>
				<key>showProb</key>
				<real>0.22</real>
			</dict>
		</array>
		<key>stepDuration</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>maxScore</key>
		<integer>100</integer>
		<key>minScore</key>
		<integer>50</integer>
		<key>props</key>
		<array>
			<dict>
				<key>propType</key>
				<string>propMonster</string>
				<key>showAfterHoleProb</key>
				<real>0.1</real>
				<key>showAfterPropProb</key>
				<real>0.05</real>
				<key>showBeforeHoleProb</key>
				<real>0.1</real>
				<key>showProb</key>
				<real>0.1</real>
			</dict>
			<dict>
				<key>propType</key>
				<string>propSlip</string>
				<key>showAfterHoleProb</key>
				<real>0.1</real>
				<key>showAfterPropProb</key>
				<real>0.05</real>
				<key>showBeforeHoleProb</key>
				<real>0.1</real>
				<key>showProb</key>
				<real>0.11</real>
			</dict>
			<dict>
				<key>propType</key>
				<string>propCoin</string>
				<key>showAfterHoleProb</key>
				<integer>1</integer>
				<key>showAfterPropProb</key>
				<integer>1</integer>
				<key>showBeforeHoleProb</key>
				<integer>1</integer>
				<key>showProb</key>
				<real>0.24</real>
			</dict>
		</array>
		<key>stepDuration</key>
		<real>1.8</real>
	</dict>
	<dict>
		<key>maxScore</key>
		<integer>150</integer>
		<key>minScore</key>
		<integer>100</integer>
		<key>props</key>
		<array>
			<dict>
				<key>propType</key>
				<string>propMonster</string>
				<key>showAfterHoleProb</key>
				<real>0.2</real>
				<key>showAfterPropProb</key>
				<real>0.1</real>
				<key>showBeforeHoleProb</key>
				<real>0.2</real>
				<key>showProb</key>
				<real>0.11</real>
			</dict>
			<dict>
				<key>propType</key>
				<string>propSlip</string>
				<key>showAfterHoleProb</key>
				<real>0.15</real>
				<key>showAfterPropProb</key>
				<real>0.1</real>
				<key>showBeforeHoleProb</key>
				<real>0.15</real>
				<key>showProb</key>
				<real>0.13</real>
			</dict>
			<dict>
				<key>propType</key>
				<string>propCoin</string>
				<key>showAfterHoleProb</key>
				<integer>1</integer>
				<key>showAfterPropProb</key>
				<integer>1</integer>
				<key>showBeforeHoleProb</key>
				<integer>1</integer>
				<key>showProb</key>
				<real>0.26</real>
			</dict>
		</array>
		<key>stepDuration</key>
		<real>1.6</real>
	</dict>
	<dict>
		<key>maxScore</key>
		<integer>200</integer>
		<key>minScore</key>
		<integer>150</integer>
		<key>props</key>
		<array>
			<dict>
				<key>propType</key>
				<string>propMonster</string>
				<key>showAfterHoleProb</key>
				<real>0.3</real>
				<key>showAfterPropProb</key>
				<real>0.15</real>
				<key>showBeforeHoleProb</key>
				<real>0.3</real>
				<key>showProb</key>
				<real>0.12</real>
			</dict>
			<dict>
				<key>propType</key>
				<string>propSlip</string>
				<key>showAfterHoleProb</key>
				<real>0.2</real>
				<key>showAfterPropProb</key>
				<real>0.15</real>
				<key>showBeforeHoleProb</key>
				<real>0.2</real>
				<key>showProb</key>
				<real>0.15</real>
			</dict>
			<dict>
				<key>propType</key>
				<string>propCoin</string>
				<key>showAfterHoleProb</key>
				<integer>1</integer>
				<key>showAfterPropProb</key>
				<integer>1</integer>
				<key>showBeforeHoleProb</key>
				<integer>1</integer>
				<key>showProb</key>
				<real>0.28</real>
			</dict>
		</array>
		<key>stepDuration</key>
		<real>1.4</real>
	</dict>
	<dict>
		<key>maxScore</key>
		<integer>300</integer>
		<key>minScore</key>
		<integer>200</integer>
		<key>props</key>
		<array>
			<dict>
				<key>propType</key>
				<string>propMonster</string>
				<key>showAfterHoleProb</key>
				<real>0.4</real>
				<key>showAfterPropProb</key>
				<real>0.2</real>
				<key>showBeforeHoleProb</key>
				<real>0.4</real>
				<key>showProb</key>
				<real>0.13</real>
			</dict>
			<dict>
				<key>propType</key>
				<string>propSlip</string>
				<key>showAfterHoleProb</key>
				<real>0.25</real>
				<key>showAfterPropProb</key>
				<real>0.2</real>
				<key>showBeforeHoleProb</key>
				<real>0.25</real>
				<key>showProb</key>
				<real>0.17</real>
			</dict>
			<dict>
				<key>propType</key>
				<string>propCoin</string>
				<key>showAfterHoleProb</key>
				<integer>1</integer>
				<key>showAfterPropProb</key>
				<integer>1</integer>
				<key>showBeforeHoleProb</key>
				<integer>1</integer>
				<key>showProb</key>
				<real>0.3</real>
			</dict>
		</array>
		<key>stepDuration</key>
		<real>1.2</real>
	</dict>
	<dict>
		<key>maxScore</key>
		<integer>400</integer>
		<key>minScore</key>
		<integer>300</integer>
		<key>props</key>
		<array>
			<dict>
				<key>propType</key>
				<string>propMonster</string>
				<key>showAfterHoleProb</key>
				<real>0.5</real>
				<key>showAfterPropProb</key>
				<real>0.25</real>
				<key>showBeforeHoleProb</key>
				<real>0.5</real>
				<key>showProb</key>
				<real>0.14</real>
			</dict>
			<dict>
				<key>propType</key>
				<string>propSlip</string>
				<key>showAfterHoleProb</key>
				<real>0.3</real>
				<key>showAfterPropProb</key>
				<real>0.25</real>
				<key>showBeforeHoleProb</key>
				<real>0.3</real>
				<key>showProb</key>
				<real>0.19</real>
			</dict>
			<dict>
				<key>propType</key>
				<string>propCoin</string>
				<key>showAfterHoleProb</key>
				<integer>1</integer>
				<key>showAfterPropProb</key>
				<integer>1</integer>
				<key>showBeforeHoleProb</key>
				<integer>1</integer>
				<key>showProb</key>
				<real>0.32</real>
			</dict>
		</array>
		<key>stepDuration</key>
		<real>1.0</real>
	</dict>
	<dict>
		<key>maxScore</key>
		<integer>600</integer>
		<key>minScore</key>
		<integer>400</integer>
		<key>props</key>
		<array>
			<dict>
				<key>propType</key>
				<string>propMonster</string>
				<key>showAfterHoleProb</key>
				<real>0.6</real>
				<key>showAfterPropProb</key>
				<real>0.3</real>
				<key>showBeforeHoleProb</key>
				<real>0.6</real>
				<key>showProb</key>
				<real>0.15</real>
			</dict>
			<dict>
				<key>propType</key>
				<string>propSlip</string>
				<key>showAfterHoleProb</key>
				<real>0.35</real>
				<key>showAfterPropProb</key>
				<real>0.3</real>
				<key>showBeforeHoleProb</key>
				<real>0.35</real>
				<key>showProb</key>
				<real>0.17</real>
			</dict>
			<dict>
				<key>propType</key>
				<string>propCoin</string>
				<key>showAfterHoleProb</key>
				<integer>1</integer>
				<key>showAfterPropProb</key>
				<integer>1</integer>
				<key>showBeforeHoleProb</key>
				<integer>1</integer>
				<key>showProb</key>
				<real>0.28</real>
			</dict>
		</array>
		<key>stepDuration</key>
		<real>0.8</real>
	</dict>
	<dict>
		<key>maxScore</key>
		<integer>800</integer>
		<key>minScore</key>
		<integer>600</integer>
		<key>props</key>
		<array>
			<dict>
				<key>propType</key>
				<string>propMonster</string>
				<key>showAfterHoleProb</key>
				<real>0.7</real>
				<key>showAfterPropProb</key>
				<real>0.35</real>
				<key>showBeforeHoleProb</key>
				<real>0.7</real>
				<key>showProb</key>
				<real>0.16</real>
			</dict>
			<dict>
				<key>propType</key>
				<string>propSlip</string>
				<key>showAfterHoleProb</key>
				<real>0.4</real>
				<key>showAfterPropProb</key>
				<real>0.35</real>
				<key>showBeforeHoleProb</key>
				<real>0.4</real>
				<key>showProb</key>
				<real>0.14</real>
			</dict>
			<dict>
				<key>propType</key>
				<string>propCoin</string>
				<key>showAfterHoleProb</key>
				<integer>1</integer>
				<key>showAfterPropProb</key>
				<integer>1</integer>
				<key>showBeforeHoleProb</key>
				<integer>1</integer>
				<key>showProb</key>
				<real>0.25</real>
			</dict>
		</array>
		<key>stepDuration</key>
		<real>0.6</real>
	</dict>
	<dict>
		<key>maxScore</key>
		<integer>1000</integer>
		<key>minScore</key>
		<integer>800</integer>
		<key>props</key>
		<array>
			<dict>
				<key>propType</key>
				<string>propMonster</string>
				<key>showAfterHoleProb</key>
				<real>0.8</real>
				<key>showAfterPropProb</key>
				<real>0.4</real>
				<key>showBeforeHoleProb</key>
				<real>0.8</real>
				<key>showProb</key>
				<real>0.19</real>
			</dict>
			<dict>
				<key>propType</key>
				<string>propSlip</string>
				<key>showAfterHoleProb</key>
				<real>0.45</real>
				<key>showAfterPropProb</key>
				<real>0.4</real>
				<key>showBeforeHoleProb</key>
				<real>0.45</real>
				<key>showProb</key>
				<real>0.09</real>
			</dict>
			<dict>
				<key>propType</key>
				<string>propCoin</string>
				<key>showAfterHoleProb</key>
				<integer>1</integer>
				<key>showAfterPropProb</key>
				<integer>1</integer>
				<key>showBeforeHoleProb</key>
				<integer>1</integer>
				<key>showProb</key>
				<real>0.22</real>
			</dict>
		</array>
		<key>stepDuration</key>
		<real>0.4</real>
	</dict>
	<dict>
		<key>maxScore</key>
		<integer>1500</integer>
		<key>minScore</key>
		<integer>1000</integer>
		<key>props</key>
		<array>
			<dict>
				<key>propType</key>
				<string>propMonster</string>
				<key>showAfterHoleProb</key>
				<real>0.9</real>
				<key>showAfterPropProb</key>
				<real>0.5</real>
				<key>showBeforeHoleProb</key>
				<real>0.9</real>
				<key>showProb</key>
				<real>0.2</real>
			</dict>
			<dict>
				<key>propType</key>
				<string>propSlip</string>
				<key>showAfterHoleProb</key>
				<real>0.5</real>
				<key>showAfterPropProb</key>
				<real>0.45</real>
				<key>showBeforeHoleProb</key>
				<real>0.5</real>
				<key>showProb</key>
				<real>0.05</real>
			</dict>
			<dict>
				<key>propType</key>
				<string>propCoin</string>
				<key>showAfterHoleProb</key>
				<integer>1</integer>
				<key>showAfterPropProb</key>
				<integer>1</integer>
				<key>showBeforeHoleProb</key>
				<integer>1</integer>
				<key>showProb</key>
				<real>0.2</real>
			</dict>
		</array>
		<key>stepDuration</key>
		<real>0.2</real>
	</dict>
	
</array>
</plist>
